

#close-color {
    background-color: #b8b8b8;
}

#close-color:hover {
    background-color: #979797;
}

#add-button {
    width: 100%;
    background-color: #f3f3f3;
    color: #727272;
    font-weight: bold;
}

#add-button:hover {
    background-color: #095fc3;
    color: white;
}

#modal-container {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 2vmin;
    height: 90vh;
    width:  80vw;
    top: 5vh;
    left: 10vw;
    box-shadow: 1px 1px 4px #999999;
    z-index: 11;
    background-color: white;
}

#modal-content {   
    width: 90%;
    height: 90%;
}

#modal-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.76);
    z-index: 10;
}