

#close-button {
    background-color: #b8b8b8;
}

#close-button:hover {
    background-color: #979797;
}

#add-button {
    width: 100%;
    background-color: #f3f3f3;
    color: #727272;
    font-weight: bold;
}

#add-button:hover {
    background-color: #095fc3;
    color: white;
}

#save-button {
    background-color: #b36308;
    color: white;
    margin-right: 10%;
}

#save-button:hover {
    background-color: #da7707;
    color: white;    
}

#modal-container {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 2vmin;
    height: 90vh;
    width:  80vw;
    top: 5vh;
    left: 10vw;
    box-shadow: 1px 1px 4px #999999;
    z-index: 11;
    background-color: white;
}

#modal-body {   
    width: 90%;
    height: 500px;
}

#modal-footer {
    display: flex;
    flex-direction: row;
}

#modal-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.76);
    z-index: 10;
}

#basic-info-container {
    display: flex;
    flex-direction: column;
}

.modal-input-field {
    width: 100%;
    height: 5vmin;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    color: rgb(66, 66, 66);
    border-radius: calc(5px + 1.5vmin);
    box-sizing: border-box;
    font-size: calc(10px + 1vmin);
}

.modal-input-field:focus {
    outline: none;
}
