.navbar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7.5%;
  width: 60%;
  height: 100%;
  background-color: #202b3c;
  border-radius: 3vmin;
}

.navbar-user {
  position: relative;
  top: 5%;
  color: white;
  font-weight: bold;
  font-size: 2vmin;
}

#nabla {
  float: right;
}

.navbar-active {
  background-color: #008080;
}

.navbar-item {
  display: flex;
  width: 100%;
  height: 15%;
  align-items: center;
  justify-content: center;
}

.navbar-item:hover {
  background-color: #18222f;
}

.navbar-active:hover {
  background-color: #008080;
}

.navbar-svg {
  width: 100%;
  height: 50%;
  object-fit: fill;
}

@media screen and (max-width: 450px) {
  .navbar-container {
    flex-direction: row-reverse;
    width: 100%;
    height: 100%;
    border-radius: 0px;
    gap:5%;
  }
  .navbar-user {
    font-size: 5vmin;
    right: 2%;
  }
  .navbar-item {
    height: 100%;
  }

  .navbar-svg {
    height: 40%;
  }
}
