.input-text {
    width: 100%;
    height: 5vmin;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    color: #ccc;
    border-radius: calc(5px + 1.5vmin);
    box-sizing: border-box;
    font-size: calc(10px + 1vmin);
}

.active-input-text {
    color: rgb(51, 51, 51)
}

.input-text:focus {
    outline: none;
}

@media screen and (max-width: 450px) {

    .input-text {
        width: 100%;
        height: 60%;
    }
}