/* ------------------------------------------

Base layout

------------------------------------------ */

#root {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2%;


  height: 100vh;
  width: 100vw;
}

.placeholder {
  height: 85%;
  width: 85%;
}

.content-grid {
  display: grid;

  grid-template-rows: auto 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: auto 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

  height: 85%;
  width: 85%;
}

#navbar-box {
  display: flex;
  justify-content: right;

  grid-row-start: 1;
  grid-column-start: 1;

  grid-row-end: 9;
  grid-column-end: 3;
}

#add-btn-box {
  display: flex;
  align-items: center;

  grid-row-start: 1;
  grid-column-start: 2;

  grid-row-end: 3;
  grid-column-end: 5;
}

#lookup-box {
  display: flex;
  align-items: center;
  justify-content: right;

  grid-row-start: 1;
  grid-column-start: 3;

  grid-row-end: 3;
  grid-column-end: 5;
}
#table-box {
  grid-row-start: 3;
  grid-column-start: 1;

  grid-row-end: 9;
  grid-column-end: 5;
}
#footer-box {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;

  grid-row-start: 8;
  grid-column-start: 3;

  grid-row-end: 9;
  grid-column-end: 9;
}

#brand {
  height: 20%;
  width: 20%;
  object-fit: contain;
}

/* ------------------------------------------

Tablet Layout

------------------------------------------ */
@media screen and (max-width: 1300px) {
  #root {
    gap: 0.5%;
  }

  .content-grid  {
    width: 95%;
  }

  .placeholder {
    width: 95%;
  }
}
/* ------------------------------------------

Smartphone Layout

------------------------------------------ */

@media screen and (max-width: 450px) {
  .content-grid  {
    display: grid;

    grid-template-rows: auto 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: auto 1fr 1fr 1fr 1fr;

    height: 100%;
    padding-left: 2%;
  }

  #navbar-box {
    background-color: #b6a865;
    grid-row-start: 1;
    grid-column-start: 1;

    grid-row-end: 2;
    grid-column-end: 6;
    

    padding: 0;
  }

  #add-btn-box {
    visibility: hidden;
  }

  #lookup-box {
    grid-row-start: 2;
    grid-column-start: 1;

    grid-row-end: 3;
    grid-column-end: 6;

    background-color: bisque;
  }

  #table-box {
    background-color: #e7e75b;
    grid-row-start: 3;
    grid-column-start: 1;

    grid-row-end: 9;
    grid-column-end: 6;
  }

  #footer-box {
    visibility: hidden;
  }
}

