/* ------------------------------------------

Base layout

------------------------------------------ */

#root {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2%;


  height: 100vh;
  width: 100vw;
}

.placeholder {
  height: 85%;
  width: 85%;
}

.content-grid {
  display: grid;

  grid-template-rows:  auto 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
  grid-template-columns: auto 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

  height: 85%;
  width: 85%;
}

#add-btn-container {
  display: flex;
  align-items: center;
  padding-left: 5%;
  padding-right: 5%;

  grid-row-start: 1;
  grid-row-end: 2;

  grid-column-start: 1;
  grid-column-end: 5;
}

#search-container {
  display: flex;
  align-items: center;
  justify-content: right;
  padding-left: 5%;
  padding-right: 5%;

  grid-row-start: 2;
  grid-row-end: 3;

  grid-column-start: 1;  
  grid-column-end: 5;
}

#patientlist-container {
  grid-row-start: 3;
  grid-row-end: 11;

  grid-column-start: 1;  
  grid-column-end: 5;
}

#info-panel-container {
  grid-row-start: 1;
  grid-row-end: 11;

  grid-column-start: 5;  
  grid-column-end: 13;
}
/* ------------------------------------------

Tablet Layout

------------------------------------------ */
@media screen and (max-width: 1300px) {
  #root {
    gap: 0.5%;
  }

  .content-grid  {
    width: 95%;
  }

  .placeholder {
    width: 95%;
  }

}
/* ------------------------------------------

Smartphone Layout

------------------------------------------ */

@media screen and (max-width: 450px) {
  .content-grid  {
    display: grid;

    grid-template-rows: auto 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: auto 1fr 1fr 1fr 1fr;

    height: 100%;
    padding-left: 2%;
  }

  #navbar-container {
    background-color: #b6a865;
    grid-row-start: 1;
    grid-column-start: 1;

    grid-row-end: 2;
    grid-column-end: 6;
    

    padding: 0;
  }

  #add-btn-container {
    visibility: hidden;
  }

  #search-container {
    grid-row-start: 2;
    grid-column-start: 1;

    grid-row-end: 3;
    grid-column-end: 6;

    background-color: bisque;
  }

  #patientlist-container {
    background-color: #e7e75b;
    grid-row-start: 3;
    grid-column-start: 1;

    grid-row-end: 9;
    grid-column-end: 6;
  }

}

